
@font-face {
	font-family: 'Qanelas';
	src: url('../fonts/Qanelas-Regular.woff') format('woff'),
	url('../fonts/Qanelas-Regular.ttf') format('truetype'),
	url('../fonts/Qanelas-Regular.svg#Qanelas-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

html {
	overflow: auto;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	font-size: 18px;
	line-height: normal;
	font-weight: 400;
	font-family: 'Qanelas', Arial, Helvetica, sans-serif;
	color: #1e2945;
	background: #F2F2F2;
	cursor: default;
}

.page-wrapper {
	min-width: 320px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* ==========================================================================

typography
========================================================================== */

h1,
h2,
h3,
h4,
h5,
p {
	font-family: inherit;
	line-height: inherit;
	text-align: center;
}

p {
	text-align: left;
}

h1 {
	font-size: 70px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0.16px;
	line-height: 70px;
	margin-bottom: 22px;
}

h2 {
	font-size: 50px;
	font-weight: 400;
	color: #1e2945;
	margin-bottom: 18px;
}

h3 {
	font-size: 40px;
	font-weight: 400;
	color: #1e2945;
	letter-spacing: 0.09px;
	margin-bottom: 14px;
}

h4 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.36px;
	margin-bottom: 12px
}

h5 {
	font-size: 16px;
	font-weight: 600;
	color: #1e2945;
	text-align: left;
	margin-bottom: 7px;
}

p {
	font-size: 18px;
	font-weight: inherit;
	line-height: 26px;
	font-family: inherit;
	color: #1e2945;
	margin-bottom: 15px;
}

.clearfix {
	clear: both;
	height: auto;
	float: none;
	overflow: hidden;
}

@media (max-width: 767px) {
	h1 {
		font-size: 60px;
		line-height: inherit;
	}

	h3 {
		font-size: 33px;
	}
}


@media (max-width: 500px) {
	h1 {
		font-size: 48px;
	}

	h3 {
		font-size: 27px;
	}

	h4 {
		font-size: 21px;
	}

	h5 {
		font-size: 15px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}
}


/* Buttons
----------------------------------------------------------------------------- */

.btn-main {
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 50px;

	font-size: 18px;
	font-weight: 600;
	font-family: inherit;
	color: #ffffff;
	text-decoration: none;
	transition: all ease-out 0.2s;

	box-shadow: 0 8px 14px rgba(0, 107, 206, 0.3);
	background-image: linear-gradient(182deg, #00f9ff 0%, #00d0f1 100%);
}

.btn-main:hover {
	background-image: linear-gradient(182deg, #00f9ff 0%, #04b6d2 100%);
}

@media (max-width: 600px) {
	.btn-main {
		padding: 12px 25px;
	}
}

/* Header
----------------------------------------------------------------------------- */
.header {
	width: auto;
	max-width: 1920px;
	padding: 40px 3% 400px 3%;
	margin: 0 auto;
	background: url(../images/bg_header.svg) no-repeat;
	background-position: center top;
	text-align: center;
	z-index: 1;
}

.header .left {
	float: left;
}

.header .logo {
	padding-right: 10px;
	position: relative;
    top: 2px;
}

.header .logo img {
	margin: auto;
}

.header .right {
	float: right;
	margin-bottom: 180px;
}


/*** buttons-authorization ***/

.header .buttons-authorization {
	display: inline-block;
	border-left: 1px solid rgba(255, 255, 255, .3);
}

.header .auth-item {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	font-family: inherit;
}

.header .auth-item a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	padding: 5px 30px;
	box-sizing: border-box;
}

.header .auth-item.active a {
	border: 1px solid #fff;
	border-radius: 4px;
}

/*** main-menu ***/

.main-menu .menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu .menu-item {
	display: inline-block;
	margin: 0 15px;
	box-sizing: border-box;
	position: relative;
}

.main-menu a {
	display: block;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.main-menu a:hover {
	color: #00d8f4;
}

/*** menu-lang ***/ 

.menu-lang {
	padding-left: 12px;
	border-left: 1px solid rgba(255, 255, 255, .3);
}

.menu-lang {
	display: inline-block;
}

.menu-lang ul {
	position: relative;
	display: inline-block;

	color: #fff;
	font-family: inherit;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.menu-lang li {
	cursor: pointer;
}

.menu-lang li ul {
	display: none;
}

.menu-lang li.menu-item::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 7px;
	right: -12px;
	background: url("../images/icon_triagle.svg") no-repeat;
	width: 6px;
	height: 4px;

	-webkit-transition: all ease-in-out 0.3;
	transition: all ease-in-out 0.3s;
}

.menu-lang li:hover::after {
	transform: rotate(180deg);
}

.menu-lang li:hover ul {
	display: block;
	position: absolute;
    top: 29px;
    left: -11px;
    background: #fff;
    width: 50px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 3px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.menu-lang li:hover .triangle {
	position: absolute;
	top: 15px;
	right: -10px;
	z-index: 10;
	height: 14px;
	overflow: hidden;
	width: 30px;
	background: transparent;
}

.menu-lang li:hover .triangle:after {
	content: '';
	display: block;
	z-index: 20;
	width: 15px;
	transform: rotate(45deg) translateY(0px) translatex(10px);
	height: 15px;
	background: #fff;
	border-radius:2px 0px 0px 0px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.menu-lang li ul li {
	position: relative;
	text-align: left;
	background: transparent;
	font-size: 12px;
	font-weight: 600;
	padding: 7px 10px;
	z-index: 2;
	color: #1e2945;
	text-align: center;
}

.menu-lang li ul li span:hover, 
.menu-lang li ul li span.active {
	color: #035ed4;
}
  

.header .title-main {
	max-width: 1000px;
	text-align: center;
	margin: 0 auto 10px auto;
}

.menu-template {
	display: inline-block;
	font-family: inherit;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	white-space: nowrap;
	color: #fff;
	text-align: center;
	padding-right: 15px;
}

.header h2 {
	max-width: 80%;
	margin: 0 auto 32px auto;
}

.header .btn-main {
	margin-top: 50px;
}

@media (max-width: 700px) {
	.header {
		padding: 20px 2% 300px 2%;
	}

	.header .left {
		display: block;
		float: none;
		margin-bottom: 100px;
	}

	.header .logo img {
		/* margin: 0 auto; */
	}

	.header .right {
		margin-bottom: 100px;
		float: none;
	}

	.header .title-main {
		max-width: 500px;
	}
}

@media (max-width: 500px) {
	.header .right {
		margin-bottom: 90px;
	}

	.main-menu {
		display: block;
		margin-bottom: 25px;
		padding: 0;
	}

	.header .buttons-authorization {
		display: block;
		width: 100%;
		border: none;
		margin: 5px auto;
	}
}


/* Middle
----------------------------------------------------------------------------- */
.content-wrapper {
	margin: 0 auto;
}

.section-wrapper {
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
    /* margin: auto; */
    padding: 0px 15px;
}

.menu-list .item-list {
	display: inline-block;
	width: 100%;
	text-align: left;
	vertical-align: top;
}


/* ------------------------------------------------------------------------- */

.section-features {
	font-family: inherit;
	font-size: 15px;
	line-height: 18px;
	font-weight: inherit;
	color: #1e2945;
	margin-bottom: 180px;
}

.section-features .features-list {
	background: #fff;
	box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.03);
	border-radius: 6px;
	padding: 0;
	list-style: none;
	margin: -200px auto 0 auto;
	overflow: hidden;

	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.section-features .feature {
	box-sizing: border-box;
	width: 50%;
	height: 200px;

	border-top: 1px solid #F7F7F7;
	border-left: 1px solid #F7F7F7;
	margin-top: -1px;
	margin-left: -1px;
	padding: 10px 17px 10px 5px;
}

.section-features .info {
	max-width: 355px;
	background: no-repeat 0 3px;
	padding-left: 106px;
	min-height: 112px;

	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.section-features .security .info {
	background-image: url(../images/icon_horse.svg);
}

.section-features .duplicate .info {
	background-image: url(../images/icon_rocket.svg);
}

.section-features .repeating .info {
	background-image: url(../images/icon_arrow.svg);
}

.section-features .customization .info {
	background-image: url(../images/icon_purse.svg);
}


@media (max-width: 900px) {
	.section-features {
		margin-bottom: 130px;
	}
}

@media (max-width: 500px) {
	.section-features {
		margin-bottom: 90px;
	}

	.section-features .feature {
		height: 160px;
	}

	.section-features .info {
		background: no-repeat -10px 3px;
		padding-left: 100px;
	}
}

@media (max-width: 450px) {
	.section-features .feature {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.section-features .feature {
		height: 150px;
	}
	
	.section-features .info {
		background: no-repeat -15px 3px;
		padding-left: 92px;
	}
}


/* section-plans
----------------------------------------------------------------------------- */

.section-plans {
	background: url(../images/bg_middle_top.png) no-repeat -150px 100px;
	/* height: 700px; */
	margin-bottom: 80px;
}

.section-plans .wrap {
	width: 50%;
	height: 100%;
}

.section-plans h3 {
	text-align: left;
}

.section-plans ul.tabs {
	margin: 0px;
	padding: 0px 3%;
	list-style: none;

	width: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
	border-radius: 4px;
	background: #fff;
}

.section-plans ul.tabs li {
	background: #fff;
	font-family: inherit;
	font-size: 15px;
	font-weight: 400;
	color: #000;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	width: 25%;
	width: calc(25% - 4px);
    box-sizing: border-box;
	text-align: center;
}

.section-plans ul.tabs li:hover,
.section-plans ul.tabs li.current {
	color: #2e73fe;
	position: relative
}

.section-plans ul.tabs li.current:after {
	content: "";
	display: inline-block;
	position: absolute;
	background: #2e73fe;
	width: 90%;
    height: 2px;
    bottom: 0;
    left: 5%;
}

.section-plans .tab-content {
	display: none;
	padding: 15px;

	background: url(../images/img_pouch.svg) no-repeat;
	background-position-y: center;
	background-position-x: right;
	height: 600px;
	text-align: center;
}

.section-plans .tab-content.current {
	display: inherit;
}


@media (max-width: 900px) {
	.section-plans .tab-content {
		background-size: 270px;
	}
}

@media (max-width: 700px) {
	.section-plans .wrap {
		width: 45%;
	}
}

@media (max-width: 570px) {
	
	.section-plans .tab-content {
		background-size: 40%;
	}
}

@media (max-width: 500px) {

	.section-plans {
		background: url(../images/bg_middle_top.png) no-repeat -70px 89px;
		height: 550px;
		margin-bottom: 80px;
		background-size: 180%;
	}

	.section-plans .wrap {
		width: 100%;
	}

	.section-plans .tab-content {
		background-position-y: bottom;
		background-position-x: center;
		height: 500px;
	}

	.section-plans ul.tabs li {
		font-size: 14px;
		padding: 5px 7px;
	}
}


/* section-partners
----------------------------------------------------------------------------- */
.section-partners {
	max-width: 1300px;
	padding: 150px 30px 130px 30px;
	background: #fff;
	margin-bottom: 250px;
	text-align: center;
}

.section-partners .partners {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 60px;
}

.section-partners .item-partner {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	width: calc(20% - 4px);
    box-sizing: border-box;
	margin: 0 auto 25px auto;
}

.section-partners .image {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}


@media (max-width: 1100px) {
	.section-partners {
		margin-bottom: 100px;
	}
}

@media (max-width: 900px) {
	.section-partners {
		padding: 90px 30px 70px 30px;
	}

	.section-partners .item-partner {
		width: 25%;
		width: calc(25% - 4px);
	}
}

@media (max-width: 700px) {
	 .section-partners {
		padding: 60px 20px;
	}

	.section-partners .item-partner {
		width: 33%;
		width: calc(33% - 4px);
	} 
}

@media (max-width: 600px) {
	.section-partners {
	   padding: 60px 30px 40px 30px;
   }

   .section-partners .item-partner {
	   width: 50%;
	   width: calc(50% - 4px);
   } 
}

@media (max-width: 400px) {
	.section-partners {
	   padding: 45px 30px 25px 30px;
   }

   .section-partners .partners {
 	   margin-top: 42px;
	}

   .section-partners .item-partner {
	   width: 100%;
	   width: calc(100% - 4px);
   } 

   section-partners .item-partner {
		margin: 0 auto 33px auto;
	}
}

/* section-scheme
----------------------------------------------------------------------------- */

.section-scheme {
	height: 710px;
	margin-bottom: 190px;
	background: url(../images/bg_middle_bottom.svg) no-repeat 0 0;
}

.section-scheme .wrap {
	height: 100%;
	background: url(../gallary/img_scheme.svg) no-repeat right 0;
	padding: 15px;
	position: relative;
    top: -140px;
}

.section-scheme .left {
	width: 40%;
	height: 100%;
	position: relative;
	top: 100px;
    left: -110px;

	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.section-scheme .text {
	max-width: 400px;
}

.section-scheme h3,
.section-scheme p {
	text-align: left;
	color: #fff;
}

@media (max-width: 1300px) {
	.section-scheme .left {
		left: -10px;
	}
}

@media (max-width: 1100px) {
	.section-scheme {
		margin-bottom: 100px;
	}

	.section-scheme .wrap {
		position: static;
		background-size: 47%;
		background-position: right center;
		margin-right: 3%;
	}

	.section-scheme .left {
		position: static;
		padding-left: 2%;
		width: 50%;
		-webkit-justify-content: center;
		justify-content: center;
	}
	
}

@media (max-width: 500px) {
	.section-scheme {
		margin-bottom: 50px;
	}
}

/* section-promo
----------------------------------------------------------------------------- */

.section-promo {
	margin-bottom: 120px;
}
.section-promo .wrap {
	padding: 10px 10% 0 5%;
}

.section-promo h3 {
	text-align: left;
}
.section-promo .left,
.section-promo .right {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	padding-right: 30px;
}

@media (max-width: 1100px) {
	.section-promo {
		margin-bottom: 80px;
	}
}

@media (max-width: 700px) {
	.section-promo {
		margin-bottom: 33px;
	}

	.section-promo .wrap {
		padding: 10px 5% 0 5%;
	}

	.section-promo .right {
		padding-right: 0;
	}
}

@media (max-width: 450px) {
	.section-promo .left, 
	.section-promo .right {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-top: 12px;
	}
}



/* Footer
----------------------------------------------------------------------------- */
.footer {
	min-width: 320px;
	max-width: 100%;
	width: 100%;
	position: relative;
	display: block;

	background: url(../images/bg_footer.svg) no-repeat bottom center;
	min-height: 334px;
}

.footer img,
.footer a,
.footer span {
	display: inline-block;
}

.footer .footer-wrapper {
	max-width: 1355px;
	min-height: 334px;
	margin: 0 auto;
	padding: 150px 2% 10px 2%;
}

.footer .footer-left,
.footer .footer-right,
.footer .footer-menu,
.footer .footer-partners,
.footer .footer-conect {
	/* display: inline-block; */
	vertical-align: top;
	text-align: left;
}

.footer .footer-left {
	width: 55%;
	padding-right: 1%;

	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.footer .footer-right {
	width: 45%;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.footer .footer-menu {
	width: 25%;
	padding-right: 2%;
}

.footer .footer-menu:first-child {
	width: 45%;
	padding-right: 4%;
}

.footer a {
	text-decoration: none;
	font-family: inherit;
	font-weight: inherit;
	font-size: 15px;
	line-height: 26px;
	color: #1e2945;
}

.footer a:hover {
	color: #0b7eff;
}

.footer .footer-partners {
	width: auto;
	padding-right: 2%;
}
.footer .footer-partners .menu-list .item-list {
	width: 49%;
	padding-right: 1%;
}

.footer .footer-conect {
	width: auto;
}

.footer .social-links,
.footer .footer-designed {
	display: inline-block;
	width: 100%;
}

.footer .footer-designed span {
	font-family: "Circular Std", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 300;
	line-height: 23px;
	color: #93b2dc;
	vertical-align: top;
    padding-top: 5px;
	padding-right: 5px;
}

/*** social-links ***/

.footer .social-links {
    display: block;
    vertical-align: bottom;
    margin-bottom: 40px;
}

.footer .social-links .links-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.footer .social-links .link {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.footer .social-links a {
    display: block;
    width: 38px;
    height: 38px;
    text-indent: 100%;
    overflow: hidden;
}

.footer .social-links .facebook {
    background: url(../images/icon_soc_facebook.svg) no-repeat 0 0;
}

.footer .social-links .vk {
    background: url(../images/icon_soc_vk.svg) no-repeat 0 0;
}

.footer .social-links .twitter {
    background: url(../images/icon_soc_twitter.svg) no-repeat 0 0;
}

.footer .social-links .google-plus {
    background: url(../images/icon_soc_google_plus.svg) no-repeat 0 0;
}


@media (max-width: 1200px) {
	.footer .footer-left,
	.footer .footer-right {
		width: 50%;
		padding-right: 0%;
		-webkit-justify-content: space-around;
    	justify-content: space-around;
	}

	.footer .footer-menu:first-child {
		width: 41%;
		padding-right: 2%;
	}
}

@media (max-width: 1050px) {

	.footer {
		background-size: 1860px;
	}

	.footer .footer-wrapper {
		padding: 90px 1% 10px 1%;
	}

	.footer .footer-left,
	.footer .footer-right {
		width: 100%;
	}

	.footer .footer-left {
		margin-bottom: 30px;
	}

	.footer .footer-conect {
		width: 100%;
		margin: 0 auto 20px auto;
		text-align: center;
	}

	.footer .footer-partners {
		padding-right: 0;
		margin-bottom: 15px;
	}

	.footer .social-links, 
	.footer .footer-designed {
		display: inline-block;
		width: 49%;
	}

	.footer .social-links {
		margin-bottom: 0;
	}
	
}

@media (max-width: 450px) {
	.footer {
		background-size: 2160px;
	}

	.footer .footer-wrapper {
		padding: 70px 2% 10px 2%;
	}

	.footer .social-links, 
	.footer .footer-designed {
		display: block;
		width: 100%;
	}

	.footer .social-links {
		margin-bottom: 30px;
	}
}


